<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}
<a href="accounts/logout/">Выход</a>
<a href="cart/{{ user.id }}">Корзина</a>

{% else %}
<a href="accounts/login/">Вход</a>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Поиск</button>
</form>
{% for sale in sales %}
    {{ sale.sale_name }}
    {{ sale.sale_percent}}
    {% for i in sale.sale_product.all %}
            {{ i.product_name }}<br>
        {% endfor %}
{% endfor %}

{% for i in products %}
    {{ i.product_name }}<br>
    {{ i.product_price }} Сумов<br>
    {{ i.product_des }}<br>
    <a href="/product/{{ i.product_name }}">Узеать подробнее</a>
{% endfor %}

<h1>Катигории</h1>
    {% for category in categories %}<b><br>
    <a href="products/{{ category.id }}">{{category.category_name}}</a><b><br>
    {% endfor %}
</body>
</html>