<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <canvas>
    </canvas>
    <header>
        <div class="navbar">
            <ol class="menu">
                <li class="menu_elem"><a href="">Главна</a></li>
                <li class="menu_elem"><a href="">О нас</a></li>
                <li class="menu_elem"><a href="">Обратная связь</a></li>
                <li class="menu_elem"><a href="">Отзывы</a></li>
                <li class="menu_elem"><a href="">Услуги</a></li>
            </ol>
        </div>
    </header>
    <h1>DPL</h1>
    <script src="./app.js"></script>
</body>
</html>